* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {

  --border-radius-sm: 5px;
  --border-radius-full: 50%;

  --color-warning-my: #FFD500;
  --color-white-my: #FFF;
  --color-dark-my: #000000;

  --font-only-g: 58px;

  --font-xs: 13px;
  --font-xb: 16px;
  --font-xl: 20px;

  --font-xxl: 26px;
  --font-xg: 30px;
  --font-xxg: 35px;
  --font-eg: 40px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.1rem;
}